{% include 'sitio/cabecera.html' %}

<div class="container">
    <h2 class="mt-4 mb-4">Resultados de la multiplicación de matrices</h2>
    
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Tamaño de la Matriz</th>
            <th>naiv_on_array</th>
            <th>naive_loop_unrolling_two</th>
            <th>naive_loop_unrolling_four</th>
            <th>winograd_original</th>
            <th>winograd_scaled</th>
            <th>strassen_naiv</th>
            <th>strassen_winograd</th>
            <th>sequential_block</th>
            <!-- Agrega más columnas para los otros tiempos si es necesario -->
          </tr>
        </thead>
        <tbody>
          {% for tiempo in tiempos %}
          <tr>
            <td>{{ tiempo.n }}</td>
            <td>{{ '%.6f' % tiempo.matriz2 }}</td>
            <td>{{ '%.6f' % tiempo.matriz3 }}</td>
            <td>{{ '%.6f' % tiempo.matriz4 }}</td>
            <td>{{ '%.6f' % tiempo.matriz5 }}</td>
            <td>{{ '%.6f' % tiempo.matriz6 }}</td>
            <td>{{ '%.6f' % tiempo.matriz7 }}</td>
            <td>{{ '%.6f' % tiempo.matriz8 }}</td>
            <td>{{ '%.6f' % tiempo.matriz9 }}</td>
            <!-- Agrega más columnas para los otros tiempos si es necesario -->
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="container">
      <h2 class="mt-4 mb-4">Resultados de la multiplicación de matrices</h2>
      
      {% for i, grafico_base64 in graficos_base64 %}
      <div class="grafico">
          <h3>Tamaño de la matriz: {{ tiempos[i].n }}</h3>
          <img src="data:image/png;base64,{{ grafico_base64 }}" alt="Grafico {{ i }}">
      </div>
      {% endfor %}
  </div>

  </div>

{% include 'sitio/pie.html' %}